@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar {
    width: 0px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(114, 113, 113);
    border-radius: 10px;
    height: 200px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

/* BOTONES SIDEBAR */
.categorias-btn2019,
.categorias-btn2022 {
    font-weight: 600;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    padding: 6px 14px;
    margin: 8.5px 6px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.categorias-btn2019:hover {
    background-color: #CBCF88;
    color: white;
}

.categorias-btn2022:hover {
    background-color: #1185C7;
    color: white;
}

@media screen and (max-width: 900px) {
    .category-btn {
        margin: 10px;
    }
}

@media screen and (max-width:800px) {
    .copyright {
        display: none !important;
    }
}

@media screen and (max-width: 600px) {
    .scroll-horizontal {
        overflow: auto !important;
    }

    .react-player {
        height: 45vh !important;
    }
}

/* NAVBAR */
.nav2019 {
    background-image: url('https://res.cloudinary.com/ddgzljvfv/image/upload/v1698119009/banner2_cabaf9.jpg');
    background-size: cover;
    background-color: #526656;
    background-repeat: no-repeat;
    height: 110px;
}

.nav2022 {
    background-color: #f0f0f0; /* Color de fondo */
    background-image: url('https://res.cloudinary.com/ddgzljvfv/image/upload/v1710821416/globoo_eadyvg.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 110px;
}



/* BIO */
.title {
    font-family: 'Special Elite', cursive;
}

.title .first-letter {
    font-size: 150%;
    line-height: 1;
}


/* REDES */
.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.redesGrid {
    display: grid;
    grid-template-rows: repeat(2, 60px);
    grid-template-columns: repeat(2, 90px);
    gap: 20px;
    justify-items: center;
    align-items: center;
}

@media only screen and (max-width: 380px) {
    .redes {
        gap: 60px;
    }
}

/* COLABORAR */
.pago2019 {
    background: -moz-linear-gradient(top, #CBCF88 0%, #CBCF88 50%, #CBCF88 100%);
    background: -webkit-linear-gradient(top, #CBCF88 0%, #CBCF88 50%, #CBCF88 100%);
    background: linear-gradient(to bottom, #CBCF88 0%, #CBCF88 50%, #CBCF88 100%);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    z-index: 0;
    width: 330px;
    height: 210px;
}

.pago2022 {
    background: -moz-linear-gradient(top, #1184c78b 0%, #1184c78b 50%, #1184c78b 100%);
    background: -webkit-linear-gradient(top, #1184c78b 0%, #1184c78b 50%, #1184c78b 100%);
    background: linear-gradient(to bottom, #1184c78b 0%, #1184c78b 50%, #1184c78b 100%);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    z-index: 0;
    width: 330px;
    height: 210px;
}

.pago2019:after, .pago2022:after {
    content: '';
    top: 100;
    width: 190px;
    height: 300px;
    border-radius: 10px;
    transform: translateX(100%);
    position: absolute;
    z-index: 1;
    opacity: .3;
    animation: slide 10s;
    /* bg para diferentes navegadores */
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(99%, rgba(128, 186, 232, 0)), color-stop(100%, rgba(125, 185, 232, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
}

/* ANIMACION PAGOS */
@keyframes slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.copy_btn {
    width: 24px;
    height: 24px;
    margin: 5px 5px;
    margin-top: 2px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 10px -50px 94px 0 rgba(199, 199, 199, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.copy_btn:hover {
    background-color: rgba(255, 255, 255, 0.448);
    /* Fondo blanco semi-transparente */
}

@media only screen and (max-width: 380px) {
    .pago {
        width: 250px;
        height: 180px;
    }

    .pago:after {
        width: 100px;
        height: 180px;
    }
}

/* REPRODUCTOR */
.react-player {
    height: 77vh !important;
    width: 100% !important;
}


/* OTROS ESTILOS */
.hoverFilter {
    cursor: pointer;
    transition: filter 0.5s ease;
}

.hoverFilter:hover {
    filter: brightness(0) saturate(100%) invert(73%) sepia(2%) saturate(1064%) hue-rotate(78deg) brightness(90%) contrast(86%);
}

.filterBlue {
    filter: brightness(0) saturate(100%) invert(16%) sepia(60%) saturate(1738%) hue-rotate(214deg) brightness(86%) contrast(92%);
}

/* BLOG */
.blog {
    width: 100%;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 7fr 1fr;
    gap: 8px;
}

/* MODOS */
.modeP:hover {
    transform: scale(1.05);
    transition: all 0.4s;
}